body
{
	background: saddlebrown;
	color: black;

	font-size: 22px;
	font-weight: lighter;
	text-align: left;
	margin-top: 10px;

}



img
{

	display:block;
	margin-top;10px;
	width:300: px;
}



input
{
	display:block;
	margin-top:10px;
	border-radius:16px;
	width:400px;
}



